.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}
#Username, #Password {
    font-size: 16px;
    border-radius: 34px;
    padding-left: 20px;
}
.container {
    padding-right: 25%;
    padding-left: 25%;
}
.m-b-sm {
    margin-bottom: 10px;
}

.btn-color {
    height: 44px;
    background-color: #007bff;
    border-color: #357ebd;
    font-size: 20px;
    border-radius: 30px;
}

